<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/isojust/src/man/ac/uk/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/home/michael/ext2_with_datatype__equivalence_classes_2/test.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="man.ac.uk.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="isojust"/>
</launchConfiguration>
